<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="/problem4.js"></script>
  <title>Afrus</title>
</head>
<body>
  <main>
    <h1>Problema 4</h1>
    <h2>Array de números</h2>
    <label for="numbers">Números separados por un espacio</label>
    <input type="text" id="numbers" name="numbers">
    <div>
      <ul id="list">
      </ul>
    </div>
  </main>
  <footer>
    <div style="padding-top: 100px;">
      <a href="/">Volver</a>
    </div>
  </footer>
</body>
</html>